<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a routerLink="../navigationProducts">Ver Productos</a>
        </nav>
    </div>
</header>
<div>
    <h1 id="encabezado">¡Compra y vende con nosotros!</h1>
    <p id="parrafo">
        Realiza tus compras y ventas de forma segura, rápida y efectiva. <br>   Garantizamos tu compra/venta en muy poco tiempo.
    </p>
    </div>
    <div class="venta">
        <diV class="flex">
            <img src="../../../assets/Imagenes/compra.jpeg" alt="Imagen_venta" />
        </diV>
    </div>


<button class="btn1" routerLink="register">Registrarme</button>
<button class="btn2" routerLink="login">Ingresar</button>
<div class="header1">
</div>

<app-footer [url1]="ruta"></app-footer>