<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
          <a href="" routerLinkActive="/landing">Inicio</a>
      </nav>
    </div>
</header>
<!--<div class="term-container">
    <h1 id="encabezado">Terminos y Condiciones</h1>
    <p id="parrafo" style="font-weight: bold; font-family: sans-serif">
        Datos de identificación <br>   Garantizamos tu compra/venta en muy poco tiempo.
    </p>


</div>
-->

<table width="630" border="1" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #FFF;">
    <tr>
      <td style="border:1px solid #CCC;"><table  border="0" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0"  >
        <tr>
          <td width="40"></td>
          <td width="265" height="25"></td>
          <td width="20"></td>
          <td width="265" style="text-align:right;"></td>
          <td width="40"></td>
        </tr>
        <tr>
          <td colspan="5"><img src="img/cabecera.jpg" alt="" /></td>
        </tr>
        <tr>
          <td height="20" colspan="5"></td>
        </tr>
        <tr align="left">
          <td height="197"></td>
          <td colspan="3" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#434343; text-align:center">
            <table cellspacing="0" cellpadding="0"  border="0">
            <tbody><tr>
              <td width="600" valign="top">
                <p align="center"><font size="2" face="Tahoma, Arial, Verdana"><br>
                      </font>
                <font size="4" face="Tahoma, Arial, Verdana"><b>
                Términos y condiciones de Uso<br>
                </b>
                      </font></p>
                <p align="justify"><b>
                <font face="Tahoma, Arial, Verdana">Datos de identificación</font></b></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">Este sitio web es operado por PLAZITANET. En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se refieren a PLAZITANET, incluyendo toda la información, herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, condiciones, políticas y notificaciones aquí establecidos.
                    Al visitar nuestro sitio vender y/o comprar con nosotros, participas en nuestro “Servicio” y aceptas los siguientes términos y condiciones, incluidos todos los términos y condiciones adicionales y las políticas a las que se hace referencia en el presente documento. Estas Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo sin limitación a usuarios que sean navegadores, clientes o comerciantes.
                    Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web. Al acceder o utilizar cualquier parte del sitio, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los servicios. Si los Términos de Servicio son considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.
                     </font></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">El 
                propósito de esta plataforma es la compra y 
                venta de productos nuevos y de segunda mano que los distintos usuarios
                promocionan. Está dirigido a público en 
                general.</font></p>
                
                <p align="justify"><b>
                <font face="Tahoma, Arial, Verdana">Términos</font></b></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">
                    No nos hacemos responsables por el mal uso de la plataforma, estafas o mal comportamiento de los usuarios. Sin embargo el usuario puede denunciar ante una situación en la que se haya visto afectado o considere que el contenido promocionado viole las leyes del país y nuestros administradores valoraran esta denuncia.
                    En caso de que una denuncia sea aceptada la plataforma rechazara la prestación de servicio al usuario denunciado, dándolo de baja del sistema.
                    </font>
                </p>
                <p align="justify">
                    <font size="2" face="Tahoma, Arial, Verdana">No nos hacemos responsables si la información 
                        disponible en este sitio no es exacta o completa. </font></p>
                <p align="justify"><b>
                <font face="Tahoma, Arial, Verdana">Modificaciones al servicio y precios</font></b></p>
                
                <p align="justify">
                        <font size="2" face="Tahoma, Arial, Verdana">Los precios de cada producto están sujetos a cambio sin aviso por su respectivo vendedor.
                </font></p>
                <p align="justify">
                    <font size="2" face="Tahoma, Arial, Verdana">Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo.
                </font></p>
                <p align="justify">
                    <font size="2" face="Tahoma, Arial, Verdana">No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o discontinuidad del Servicio.
                </font></p>

                <p align="justify"><b>

                <font face="Tahoma, Arial, Verdana">Productos o servicios</font></b></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">
                    Nos reservamos el derecho, pero no estamos obligados, para limitar las ventas de productos o servicios a cualquier persona, región geográfica o jurisdicción. Podemos ejercer este derecho basados en cada caso.</font></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">No garantizamos que la calidad de los productos comprados o servicio obtenido por ti, cumpla con tus expectativas. Si se llegara a dar el último de los casos mencionados tiene derecho a proceder a denunciar al vendedor (siempre y cuando haya una razón que lo amerite).
                </font></p>
                <p align="justify"><b>
                <font face="Tahoma, Arial, Verdana">Comentarios de usuarios</font></b></p>
                <p align="justify">
                <font size="2" face="Tahoma, Arial, Verdana">
                    Tu eres el único responsable por los comentarios que haces y su precisión. No nos hacemos responsables y no asumimos ninguna obligación con respecto a los comentarios publicados por ti o cualquier tercer parte.

                </font></p>
                <p align="justify">
                
                <p align="justify"><b>
                <font face="Tahoma, Arial, Verdana">Exclusión de garantías; limitación de responsabilidad</font></b></p>
                
                
                <p align="justify">
                    <font size="2" face="Tahoma, Arial, Verdana">
                        Aceptas expresamente que el uso de, o la posibilidad de utilizar, el servicio es bajo tu propio riesgo. El servicio y todos los productos y servicios proporcionados a través del servicio son (salvo lo expresamente manifestado por nosotros) proporcionados «tal cual» y «según esté disponible» para su uso, sin ningún tipo de representación, garantías o condiciones de ningún tipo, ya sea expresa o implícita, incluidas todas las garantías o condiciones implícitas de comercialización, calidad comercializable, la aptitud para un propósito particular, durabilidad, título y no infracción.

                    </font></p>

                    <p align="justify"><b>
                        <font face="Tahoma, Arial, Verdana">Devoluciones
                        </font></b></p>
                        
                        
                        <p align="justify">
                            <font size="2" face="Tahoma, Arial, Verdana">
                                Dado que nosotros no vendemos el producto, solamente brindamos un servicio, el proceso de compra, venta o devolución de artículos, productos, utensilios etc., se definen únicamente entre el vendedor y comprador, al momento que se ponen en contacto.
                                
                            </font></p>
                            <p align="justify"><b>
                                <font face="Tahoma, Arial, Verdana">Cambio en los términos de servicio

                                </font></b></p>
                                
                                
                                <p align="justify">
                                    <font size="2" face="Tahoma, Arial, Verdana">
                                         
Cualquier función nueva o herramienta que se añadan a la tienda actual, también estarán sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página periódicamente para verificar cambios. Tu uso continuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.

                                    </font></p>

                
                
                
                
               
            </tr>
          </tbody></table>
          </td>
          <td></td>
        </tr>
        <tr align="left">
          <td></td>
          <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#434343; text-align:left"></td>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#434343; text-align:right"></td>
          <td></td>
        </tr>
        <tr>
          <td height="49" colspan="5" style="text-align:center; font-size:11px; font-family:Arial, Helvetica, sans-serif;"></td>
        </tr>
        <tr bgcolor="#434343">
          <td></td>
          <td colspan="3" height="50" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF;"></td>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3"></td>
          <td>&nbsp;</td>
        </tr>
        
  </table>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>


