.Nav {
    width: 100%;
    height: auto;
    background-color: var(--color-fondo1);
    color: var(--letras-oscuras);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;

}