@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf') format('woff2-variations');
}

* {
  font-family: 'Quicksand';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo1: #DFE3EE;
  --color-fondo2: #FEFEFE;
  --color-claro1: #42928b;
  --color-claro2: #5dc8bf;
  --color-hover: #2f6a64;
  --color-fondo: #DFE3EE;
  --letras-blancas: #FEFEFE;
  --letras-oscuras: #363753;
  --letras-grises: #474756;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #F9FAF5;
  color: rgba(2, 2, 2, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

