.ng-touched.ng-invalid:is(input,.selector, :checked),
.ng-dirty.ng-invalid:is(input,.selector, :checked){
    outline: 2px solid red;
}

.ng-dirty.ng-invalid:is(input,.selector, :checked){
    outline: 2px solid red;
}


.inputs-container{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 17px;

    background: #fff;



}

.prou{
    height: 15cm;
}



form{
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
    width: 350px;


}
.form{

    align-content: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.input-file2{
    align-content: space-around;
    image-rendering: auto;

}

.container-form{
  display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
align-content: stretch;
  width: 100%;
}

.container-icon{
  padding-top: 5px;
}

.container-part-form{
  width: 100%;
}

.input{
  height: 28px;
  margin-bottom: auto;
}

.errors-container{
  font-size: 12px;
  margin-bottom: 3px;
  color: rgb(22, 22, 22);
}


.modal-body{
  align-items: center;

  background-color: rgb(252, 252, 252);
}

.container-images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.pre-imagen{
  width: 62px;
  height: 62px;
  background-size: cover;
  margin: 2px;
  border-style: outset;
  border-color: unset;
}

.pre-imagen:hover .deleteFile{
  opacity: 100;
}

.pre-imagen:hover .deleteFile:hover{
  color: red;
}

.deleteFile{
  width: 25px;
  height: 29px;
  text-align: center;
  margin-left: auto;
  font-size: 19px;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
}

.content-upload-image{
  display:inline-block;
  vertical-align:top;
  display: flex;
  height: 247px;
  justify-content: center;
}

.table>:not(caption)>*>* {
  border-bottom:none
}



