@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf') format('woff2-variations');
}

* {
  font-family: 'Quicksand';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo1: #F9FAF5;
  --color-fondo2: #E4E4E4;
  --color-claro1: #5560d2;
  --color-claro2: #98aae8;
  --color-fondo: #B7BAC3;
  --letras-blancas: #fff;
  --letras-oscuras: black;
  --letras-grises: rgb(80, 80, 80);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #F9FAF5;
  color: rgba(2, 2, 2, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

