footer{
    position: relative;
    margin-top: 0px;
    width: 100%;
    /* height: 80px;*/ 
    /*padding: 30px;*/
    clear: both;
    background: #252F37;
    text-align: center;
    display: block;
    color: #FFF;
}

ul li a{
    text-decoration: none;
    color: inherit;
    transition: all 50ms ease;
}

ul li a:hover{
    color: #7DE2FC;
}

ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    letter-spacing: 0.25em;
    color: #5E6A72;
    
}