<html>
  <header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="" routerLinkActive="/landing">Inicio</a>
        </nav>
    </div>
</header>



<div id="formDiv">
    <form  [formGroup]="module1Form" class="inputs-container" id="id-form" action="" method="POST">
    <div>
        <div class="div-img" align="center">
            <img class="image-container" src="../../../assets/Imagenes/credential1.png" alt="">
        </div>

        <h1>¿No puedes iniciar sesión?</h1>
        <h3>Para restablecer tu contraseña, introduce la dirección de correo electrónico que usaste al crear tu cuenta.</h3>
        <input [(ngModel)]="module1.var_email" class="email" type="email" placeholder="micuenta@gmail.com" name="correo" formControlName="email"  id="email" name="correo"  required>
        <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
            <p class="errors-msg" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
            <p class="errors-msg" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
        </div>
        <div class="errors-container" *ngIf="error || incorrect || deleteUser">
            <p class="errors-msg" *ngIf="error">Ocurrió un error al Iniciar sesión</p>
            <p class="errors-msg" *ngIf="incorrect">No se encuentra este correo en el sistema</p>
            <p class="errors-msg" *ngIf="deleteUser">El usuario registrado por esta cuenta, ha sido dado de baja.</p>
        </div>



<!--
        <div>
            <input type="radio" id="radio1">
            <h3>No puedo inicar por otros motivos</h3>

        </div>
-->
    </div>


    <!--<button routerLink="module2/:email" [disabled]="module1Form.invalid">Continuar</button>-->
    <button (click)="sendEmail()" [disabled]="module1Form.invalid">Continuar</button>
    </form>
</div>

